# Agenda

1. Python
2. REPL
3. Jupyter
4. Pandas -- like Excel, but inside of Python
5. Reading from CSV files (and analyzing that data)
6. Reading from Excel files (and analyzing that data)

# What is Python?

Python is a programming language.  It's used in a lot of places:

- Data science and machine learning
- Data analysis
- Web applications
- APIs
- Automated testing
- Education
- Devops

Open-source language -- developed and owned by the community that uses it.

Python is a great language for an age where people are expensive and computers are cheap.

If you want to write Python, you can use a specialized coding editor (IDE).

# REPL

Read-eval-print loop -- highly interactive way to write your code. It's a laboratory for doing experiments.

REPLs in Python were always text based. 

About 10 years ago, people created Jupyter -- a Web-based REPL. It allows you to play with Python in your browser. It also allows you to write documentation (as I'm doing now) using Markdown.

In [1]:
print('This is Python executing!')

This is Python executing!

In [2]:
print(2 + 2)

4

# Jupyter

Because Jupyter is so interactive, and because it's Web-based, many companies set up Jupyter servers where people on their staff can share "living documents" --

- data
- code
- documentation
- visualization

all in the same place!

Getting Jupyter to run on your computer means installing Python + Jupyter.  There's also Jupyter Lite, which fits into your browser!

# What can we really do using Jupyter?

By itself? Not much.

Using Python + Pandas? Quite a bit.

Pandas tried to provide all of the functionality we want to analyze data:

- Reading/writing files
- Sorting, grouping, retrieving, setting, calculating
- Visualization

In [3]:
# CSV 

import pandas as pd

In [4]:
# taxi data from NYC from 2015

df = pd.read_csv('taxi.csv')   # data frame is a 2D table

In [5]:
# show me the first 10 rows of this file

df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30

In [6]:
# what was the average distance traveled for someone in a NYC taxi

df['trip_distance'].mean()

np.float64(3.1585108510851088)

In [7]:
# get descriptive statistics for the trip distance

df['trip_distance'].describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: trip_distance, dtype: float64

In [8]:
# what if I want this information for more than one column?

df[['trip_distance', 'total_amount']].describe()

       trip_distance  total_amount
count    9999.000000   9999.000000
mean        3.158511     17.552472
std         4.037516     15.137990
min         0.000000     -7.800000
25%         1.000000      8.800000
50%         1.700000     12.800000
75%         3.300000     19.800000
max        64.600000    252.350000

In [9]:
# what was the tip?

df['tip_amount']

0       0.00
1       1.00
2       2.20
3       2.86
4       0.00
        ...
9994    0.00
9995    3.00
9996    0.00
9997    0.00
9998    4.45
Name: tip_amount, Length: 9999, dtype: float64

In [10]:
# what was the percentage of the tip?

df['tip_amount'] / df['fare_amount']

0       0.000000
1       0.153846
2       0.275000
3       0.211852
4       0.000000
          ...
9994    0.000000
9995    0.187500
9996    0.000000
9997    0.000000
9998    0.211905
Length: 9999, dtype: float64

In [11]:
# let's make tip_percentage a new column on our data frame!

df['tip_percentage'] = df['tip_amount'] / df['fare_amount']

In [12]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'tip_percentage'],
      dtype='object')

In [13]:
# how many rides included a tip_percentage > 10%?

df['tip_percentage'] > 0.1

0       False
1        True
2        True
3        True
4       False
        ...
9994    False
9995     True
9996    False
9997    False
9998     True
Name: tip_percentage, Length: 9999, dtype: bool

In [14]:
# one way to use this is just to find out how many times we got True/False

(df['tip_percentage'] > 0.1).value_counts()

tip_percentage
True     5343
False    4656
Name: count, dtype: int64

In [15]:
# or we can ask for a percentage

(df['tip_percentage'] > 0.1).value_counts(normalize=True)

tip_percentage
True     0.534353
False    0.465647
Name: proportion, dtype: float64

In [16]:
(df['tip_percentage'] == 0).value_counts(normalize=True)

tip_percentage
False    0.573257
True     0.426743
Name: proportion, dtype: float64

In [17]:
# maybe I want to dig in a bit deeper
# how much did people tip, on average, per number of passengers?
# let's find out if larger groups give bigger percentage tips

df.groupby('passenger_count')['tip_percentage'].mean()

passenger_count
0    0.262814
1    0.125235
2         inf
3    0.118341
4    0.139813
5    0.126425
6    0.114816
Name: tip_percentage, dtype: float64